.MovieCard {
  border-radius: 8px;
  padding: 5px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: clamp(150px, 30vw, 310px);

  cursor: pointer;
  .image {
    img {
      width: 100%;
      max-width: clamp(120px, 60vw, 300px);
      border-radius: 8px;
    }
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    font-weight: 400;
    font-size: clamp(9px, 3vw, 14px);
    h4 {
      max-width: clamp(60px, 40vw, 200px);
      line-height: clamp(10px, 2vw, 18px);
      color: #fff;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h5 {
      font-weight: 400;
    }
  }
}
